<a href="https://colab.research.google.com/github/PaulToronto/Math-and-Data-Science-Reference/blob/main/Elementary_Row_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Elementary Row Operations

In [1]:
import numpy as np
import sympy as sym

## Elementary Row Operations

1. Add $k$ times row $j$ to row $i$
2. Multiply row $i$ by scalar $k$
3. Switch rows $i$ and $j$

In [2]:
a_11, a_12, a_13, a_14 = sym.symbols('a_{11} a_{12} a_{13} a_{14}')
a_21, a_22, a_23, a_24 = sym.symbols('a_{21} a_{22} a_{23} a_{24}')
a_31, a_32, a_33, a_34 = sym.symbols('a_{31} a_{32} a_{33} a_{34}')
k = sym.symbols('k')
vline = sym.symbols('|')

M22 = sym.Matrix([[a_11, a_12],
                  [a_21, a_22]])

M23 = sym.Matrix([[a_11, a_12, a_13],
                  [a_21, a_22, a_23]])

M33 = sym.Matrix([[a_11, a_12, a_13],
                  [a_21, a_22, a_23],
                  [a_31, a_32, a_33]])

M34 = sym.Matrix([[a_11, a_12, a_13, a_14],
                  [a_21, a_22, a_23, a_24],
                  [a_31, a_32, a_33, a_34]])

In [3]:
def add_row(A, k, change_row, row, display_input=False):
    'Add k times row to change_row in matrix A'
    i = change_row - 1
    j = row - 1
    n = A.shape[0]
    E = sym.eye(n)
    d = sym.Matrix(n, 1, [vline] * n)
    
    if i == j:
        E[i, i] = k + 1
    else:
        E[i, j] = k

    if display_input:
        return E.row_join(d).row_join(A).row_join(d).row_join(E * A)
    else:
        return E * A

In [4]:
add_row(M22, k, 2, 1, True)

Matrix([
[1, 0, |, a_{11}, a_{12}, |,            a_{11},            a_{12}],
[k, 1, |, a_{21}, a_{22}, |, a_{11}*k + a_{21}, a_{12}*k + a_{22}]])

In [5]:
add_row(M23, k, 1, 2, True)

Matrix([
[1, k, |, a_{11}, a_{12}, a_{13}, |, a_{11} + a_{21}*k, a_{12} + a_{22}*k, a_{13} + a_{23}*k],
[0, 1, |, a_{21}, a_{22}, a_{23}, |,            a_{21},            a_{22},            a_{23}]])

In [6]:
add_row(M34, k, 3, 1, True)

Matrix([
[1, 0, 0, |, a_{11}, a_{12}, a_{13}, a_{14}, |,            a_{11},            a_{12},            a_{13},            a_{14}],
[0, 1, 0, |, a_{21}, a_{22}, a_{23}, a_{24}, |,            a_{21},            a_{22},            a_{23},            a_{24}],
[k, 0, 1, |, a_{31}, a_{32}, a_{33}, a_{34}, |, a_{11}*k + a_{31}, a_{12}*k + a_{32}, a_{13}*k + a_{33}, a_{14}*k + a_{34}]])

In [7]:
def scale_row(A, k, row_to_scale, display_input=False):
    'Multiply row_to_scale by k'
    i = row_to_scale - 1
    n = A.shape[0]
    E = sym.eye(n)
    d = sym.Matrix(n, 1, [vline] * n)
    
    E[i, i] = k

    if display_input:
        return E.row_join(d).row_join(A).row_join(d).row_join(E * A)
    else:
        return E * A

In [8]:
scale_row(M34, k, 2, True)

Matrix([
[1, 0, 0, |, a_{11}, a_{12}, a_{13}, a_{14}, |,   a_{11},   a_{12},   a_{13},   a_{14}],
[0, k, 0, |, a_{21}, a_{22}, a_{23}, a_{24}, |, a_{21}*k, a_{22}*k, a_{23}*k, a_{24}*k],
[0, 0, 1, |, a_{31}, a_{32}, a_{33}, a_{34}, |,   a_{31},   a_{32},   a_{33},   a_{34}]])

In [9]:
def switch_rows(A, row1, row2, display_input=False):
    
    'Switch row1 and row2 in matrix A'
    i = row1 - 1
    j = row2 - 1
    n = A.shape[0]
    E = sym.eye(n)
    d = sym.Matrix(n, 1, [vline] * n)

    E[i, i] = 0
    E[j, j] = 0
    E[i, j] = 1
    E[j, i] = 1

    if display_input:
        return E.row_join(d).row_join(A).row_join(d).row_join(E * A)
    else:
        return E * A

In [10]:
switch_rows(M34, 2, 3, True)

Matrix([
[1, 0, 0, |, a_{11}, a_{12}, a_{13}, a_{14}, |, a_{11}, a_{12}, a_{13}, a_{14}],
[0, 0, 1, |, a_{21}, a_{22}, a_{23}, a_{24}, |, a_{31}, a_{32}, a_{33}, a_{34}],
[0, 1, 0, |, a_{31}, a_{32}, a_{33}, a_{34}, |, a_{21}, a_{22}, a_{23}, a_{24}]])